

{% if installedApps|length %}

**Installed apps**
{% for app in installedApps %}
* {{ app }}
{% endfor %}

**Other apps**
{% for app in otherApps %}
* {{ app }}
{% endfor %}

{% else %}

<table style="width:100%">
{% for app in apps %}
<tr>
  <th>
* {{ appMetadata.apps[app].displayName }}
  </th>
  <th>
    <image src="{{ appMetadata.apps[app].image }}" width="100px"></image>
  </th>
</tr>
{% endfor %}
</table>
{% endif %}


