{% if installedApps|length %}
**Installed apps**
{% for app in installedApps %}
* {{ app }}
{% endfor %}

**Other apps**
{% for app in otherApps %}
* {{ app }}
{% endfor %}

{% else %}
**All the apps**
{% for app in apps %}
* {{ app }}
{% endfor %}

{% endif %}
**Submit an app**
If you want an app to be included in the list above, please contact us at integrations@ringcentral.com.
