**Glip tasks for the current group**

{% if tasks|length %}
{% for task in tasks %}
#{{ loop.index }} - **{{ task.title|trim }}** assigned to {% if task.assignee %}**{{ task.assignee|trim }}**{% else %}nobody{% endif %}

{% endfor %}
{% else %}
No tasks found for the current group.
{% endif %}