{% if apps|length %}
Currently the following apps are being monitored for this group:
{% for app in apps %}
* {{ app.id }} - {{ app.name }}
{% endfor %}
{% else %}
Currently no app is being monitored for this group.
{% endif %}