{% if new %}New{% else %}#{{ number }}{% endif %} app review for "**{{ name }}**"

{% include 'reviews/stars.njk' %} - {{ review.title }}

by {% include 'reviews/author.njk' %}

ID: {{ review.id }}


{{ review.content }}