{% if review.stars == 1 -%}
:star:
{%- elif review.stars == 2 -%}
:star::star:
{%- elif review.stars == 3 -%}
:star::star::star:
{%- elif review.stars == 4 -%}
:star::star::star::star:
{%- elif review.stars == 5 -%}
:star::star::star::star::star:
{%- endif %}