{% if review.stars == 1 -%}
:red_star:
{%- elif review.stars == 2 -%}
:red_star::red_star:
{%- elif review.stars == 3 -%}
:star::star::star:
{%- elif review.stars == 4 -%}
:star::star::star::star:
{%- elif review.stars == 5 -%}
:green_star::green_star::green_star::green_star::green_star:
{%- endif %}